

</main>
<footer class="mt-auto">
    <p class="centerIt">Phenom'sDev @ <%= new Date().getFullYear()%></>
</footer>
</div>
<script src="https://kit.fontawesome.com/e3021c65c2.js" crossorigin="anonymous"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/jquery.min.js"></script>
</body>
</html>