<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPost</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Nanum+Gothic&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Nanum+Gothic&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbgColor">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/phenomsLogo.png" alt="Logo" width="120" height="75" class="d-inline-block align-text-top" style="background-color:white">
                
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav  ms-auto">
              <a class="nav-link  " aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/newblog">New Blog</a>
              <a class="nav-link" href="/postedBlog">Posted Blogs</a>
              <a class="nav-link" href="/trash">Trash</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="d-flex flex-column min-vh-100">
        <main class="container">
          <!-- Your content goes here -->
       
    
