<%- include('partials/header.ejs') %>
<h1 style="color: white;" class="centerIt mt-5" >Welcome to your Blog Post poster</h1><br>

<p style="color: antiquewhite;"> Create a post today and let others see what you know</p>





<%- include('partials/footer.ejs') %>