<%- include('partials/header.ejs') %>
<div class="card mt-3">
    <div class="card-title text-center centerIt"><h4>Create Post</h4></div>
    <div class="card-body">
        <form action="/postBlog" method="post">
            <div>
                <label for="name">Your name</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div>
                <label for="name">Your Blog</label>
                <textarea name="blog" id="" class="form-control" required></textarea>
            </div>
            <div class="mt-2">
                <input type="submit" class="btn btn-success">
            </div>
        </form>
       
    </div>
</div>
<hr>
<% if(locals.data){ %>
    <% data.forEach(post=>{ %>
      <div class="divide">
        <p>name:<%= post.name %></p>
        <p>name:<%= post.post %></p>
      </div>
    <% }) %>
  <% } %>

<%- include('partials/footer.ejs') %>